{% extends 'main/base.html' %}
{% block title %}Home page{% endblock title %}
{% block content %}
<style>
  moreabout{
    margin-top: 70px;
  }
  
</style>
<div class="hero">
  <div class="hero-box">
      <h6><b>Yet a New Better Way To _happy Coding!</b></h6>
      <h1 class="blockquote"><strong> Code Better! Collabotate! <br>Get Hired! Life of a Developer!</strong></h1>
      <figcaption class="blockquote-footer">
      iDev <cite title="Source Title"></cite>
      </figcaption>
      <button id="btn-1">Feed</button>
      <button href='login.html' id="btn-2">Join iDev.com</button>
  </div>
</div>
<div>
  {% include "main/features.html" %}
</div>

<center>
  <div class="moreabout">
    <h1> More to iDev.com hub</h1>
    {% include "main/aboutcomponent.html" %}
  </div>
</center>

<center>
  <div>
    {% include "main/testimonialcomponent.html" %}
  </div>
</center>

<center>
  <div>
    {% include "main/home-cta-component.html" %}
  </div>
</center>

  <div>
    {% include "main/footercomponent.html" %}
  </div>

{% endblock content %}