
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container-project">
    <h1>Upload a Project</h1>
        <div class="inner-container">
            {% if submit %}{% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
        </div>
    <div class="btn-hold">
       
        <a class="btn-2" href="{% url 'profile' user.username %}" onclick="return confirm('Confirm Cancel?');"> Cancel </a>
        <input type="submit" class="btn btn-primary" value="Upload">
    </div>
            </form>
    
</div>

{% endblock content %}


